h1 {
    color:rgb(224, 33, 74);
}

ul {
    color: white;
}

ol {
    color: white;
}

a {
    color:rgb(223, 103, 103);
    font-size: large;
}

body {
    background-color: black;
}

#NomeDescricao {
    font-family: 'serif';
    font-size: large;
}

.cevada {
    color: chartreuse;
}

